@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Molengo&display=swap');
@import url('https://css.gg/css?=|git-branch|heart');
@import 'variables';

// Import only what you need from Bulma
@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/elements/button.sass';
@import '~bulma/sass/elements/container.sass';
@import '~bulma/sass/elements/title.sass';
@import '~bulma/sass/components/card.sass';
@import '~bulma/sass/form/_all.sass';
@import '~bulma/sass/grid/columns.sass';

html {
  height: 100%;
  overflow-y: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark-primary;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  border-radius: $spacing;
}

.no-margin {
  margin-left: 0;
  margin-right: 0;
}
